@import url(./__mini-block/header__mini-block.css);
@import url(./__form/header__form.css);
@import url(./__mobile-box/header__mobile-box.css);
@import url(./__big-line/header__big-line.css);
@import url(./__popup-container/header__popup-container.css);

.header__block {
  position: relative;
  display: flex;
  flex-direction: column;
}